<div class="row">
  <div class="col">
    <button class="btn btn-success" (click)="goBack()">Back</button>
  </div>
  <div class="col">
    <button class="btn btn-info" (click)="prevMenu()"> < Prev </button>

    <button class="btn btn-primary" (click)="nextMenu()"> >Next </button>
  </div>
</div>

<div *ngIf="menu$ |async as menu">
<h3>{{menu.name}}</h3>

<img
  [src]="menu.image"
  class="card-img-top"
  [alt]="menu.name"
  [ngStyle]="imgStyles">
  <button class="btn btn-dark"[routerLink]="['/menu',menu.id,'reviews']">Reviews</button>
</div>

<router-outlet></router-outlet>
